<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499791612215-8o9fouu6pdhjr19ok2jroe2ad3do4q22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499791612215-8o9fouu6pdhjr19ok2jroe2ad3do4q22</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499791612215-a4on077tqit1hau9u7u70h7hgqirsnrf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjTEH5cgyUPznAYBpIGaJX_9YBBG-oek0</string>
	<key>GCM_SENDER_ID</key>
	<string>499791612215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midasbeautyline.vn</string>
	<key>PROJECT_ID</key>
	<string>midas-beauty-line</string>
	<key>STORAGE_BUCKET</key>
	<string>midas-beauty-line.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499791612215:ios:90ad15255202af218172b2</string>
	<key>DATABASE_URL</key>
	<string>https://midas-beauty-line.firebaseio.com</string>
</dict>
</plist>